.menuItem:hover {
    -fx-border-color: #F39C12;
    -fx-border-width: 0 0 3px 0;
    -fx-background-color: transparent;
}

.sidebarItem:hover {
    -fx-background-color: #2E2E2E;
    -fx-border-color:#F39C12 ;
    -fx-border-width: 0 0 0 4px;
}
.list-cell {
    -fx-background-color: #2E2E2E; /* sfondo di base */
    -fx-text-fill: white;            /* testo bianco */
    -fx-padding: 12px;
}
.report-item {
    -fx-text-fill: white;
}

.list-cell:focused {
    -fx-background-color: #D35400; /* arancione scuro */
    -fx-text-fill: white;          /* testo bianco */
}
.buttonItem {
    -fx-background-color: #2E2E2E;
    -fx-text-fill: #ECF0F1;
    -fx-font-weight: bold;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.buttonItem:hover {
    -fx-background-color: #3A3A3A;
}

